@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
 
a{
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

li {
    list-style: none;
}

:root {
    /* COLORS */
    /* BG */
     --bg_color: linear-gradient(270deg, #0C1323, #141C2C);
     --primary: #4be0c8;
     --highlight: #43e0c1;
     --text-main: #fff;
     --text-secindary: #b0b6c1;
     --text-strike-price: #a3a6b0;
     --review: #ffc93d;

     /* FONT-SIZE */
     --font-size-s: 0.9rem፤
     --font-size-n: 1rem;
     --font-size-m: 1.12rem;
     --font-size-l: 1.5rem;
     --font-size-xl: 2rem;
     --font-size-xxl: 3rem;

     /* FONT-WEIGHT */
     --font-weight-n: 400;
     --font-weight-m: 500;
     --font-weight-sb: 600;
     --font-weight-b: 700;

     /* BORDER RADIUS */

     --border-radius-s: 8px;
     --border-radius-m: 30px;
     --border-radius-circle: 50%;
     
}

.blurred-shape{
    position: fixed;
    left: -25px;
    top: 50px;
    border-radius: 25% 75% 70% 30% / 54% 48% 52% 46% ;
    background: white;
    width: 150px;
    height: 150px;
    background: var(--highlight);
    filter: blur(100px);
    z-index: 0;
}

/* HEADER SECTION */
header {
    background: var(--bg_color);
    position: fixed;
    width: 100%;
    z-index: 5px;
}


.nav-conatiner {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.nav-bar .navbar-items{
    display: flex;
    gap: 50px;
    margin: 20px auto;

}

.nav-link {
    color: var(--text-secindary);
    font-weight: var(--font-weight-n);
    font-size: 14px;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--text-main);
    font-weight: var(--font-weight-m);
}

.nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    display: block;
    border-radius: var(--border-radius-s);
    margin: 5px auto;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 14px;
}

.logo {
    display: flex;
    margin-top: 15px;
}

.logo .bolt, .logo-name {
    color: var(--text-main);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-b);
}


