@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

li {
    list-style: none;
}

:root {
    /* COLORS */
    /* BG */
    --bg_color: linear-gradient(270deg, #0C1323, #141C2C);
    --primary: #4be0c8;
    --highlight: #43e0c1;
    --text-main: #fff;
    --text-secondary: #7f8690;
    --text-strike-price: #a3a6b0;
    --review: #ffc93d;

    /* FONT-SIZE */
    --font-size-s: 0.9rem፤ --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;

    /* FONT-WEIGHT */
    --font-weight-n: 400;
    --font-weight-m: 500;
    --font-weight-sb: 600;
    --font-weight-b: 700;

    /* BORDER RADIUS */

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

}

.blurred-shape {
    position: absolute;
    left: -25px;
    top: 50px;
    border-radius: 25% 75% 70% 30% / 54% 48% 52% 46%;
    background: white;
    width: 150px;
    height: 150px;
    background: var(--highlight);
    filter: blur(100px);
    z-index: 1;
}

/* HEADER SECTION */
header {
    background: var(--bg_color);
    position: fixed;
    width: 100%;
    z-index: 9999;
}


.nav-conatiner {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.nav-bar .navbar-items {
    display: flex;
    gap: 50px;
    margin: 20px auto;

}

.nav-link {
    color: var(--text-secondary);
    font-weight: var(--font-weight-n);
    font-size: 14px;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--text-main);
    font-weight: var(--font-weight-m);
}

.nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    display: block;
    border-radius: var(--border-radius-s);
    margin: 5px auto;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 14px;
}

.logo {
    display: flex;
    margin-top: 15px;
}

.logo .bolt,
.logo-name {
    color: var(--text-main);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-b);
}


/* HERO SECTION */

.hero-section {
    background: var(--bg_color);
    min-height: 100vh;
    padding: 20px 100px 0;
}


.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 70px 0;
    max-width: 50%;
}

.discount-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: rgba(200, 200, 200, 0.2);
    padding: 10px;
    width: 160px;
    border-radius: var(--border-radius-s);
}

.discount-card .ticket {
    color: var(--highlight);
}

.discount-card .percent {
    color: var(--text-main);
    font-size: 12px;
    font-weight: var(--font-weight-m);
    margin-right: 5px;
}

.discount-card .discount {
    color: var(--text-secondary);
    font-size: 13px;
}

.hero-title {
    color: var(--text-main);
    font-size: var(--font-size-xl);
    max-width: 90%;
    margin-bottom: 18px;
}

.hero-description {
    color: var(--text-secondary);
    max-width: 60%;
    margin-bottom: 10px;
}

.qualities {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}

.quality {
    display: flex;
    gap: 5px;
    align-items: center;
}

.quality-text {
    font-size: 12px;
    color: var(--text-main);
}

.check {
    color: var(--highlight);
    font-size: 13px;
}

.btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.buy-btn {
    color: var(--bg_color);
    background: var(--highlight);
    padding: 10px 40px;
    border-radius: var(--border-radius-m);
    font-size: 12px;
    border: 1px solid var(--highlight);

}

.buy-btn:hover {
    background: transparent;
    color: var(--highlight);
}

.learn-more {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
    cursor: pointer;
}

.learn-more:hover {
    color: var(--highlight);
}

.learn-more span,
.arrow {
    font-size: 12px;
}

.status {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 40px 0;
}

.type-amount {
    color: var(--highlight);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-sb);
    margin-bottom: 8px;
}

.type-description {
    color: var(--text-main);
}


.hero-image {
    margin: 70px 0;
    position: relative;
    display: inline-block;
    max-width: 500px;
    z-index: 0;
}

.hero-image::before {
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    background: radial-gradient(circle, var(--highlight) 0%, transparent 50%);
    filter: blur(80px);
    z-index: -1;
}

.blurred-shape2 {
    position: absolute;
    left: -25px;
    border-radius: 25% 75% 70% 30% / 54% 48% 52% 46%;
    background: white;
    width: 150px;
    height: 150px;
    background: var(--highlight);
    filter: blur(100px);
    z-index: 1;
}

/* ABOUT AND PRICE SECTION */
.price-section {
    background: var(--bg_color);
    min-height: 100vh;
}

.price-container {
    display: flex;
    gap: 100px;
    padding: 0 50px;
}

.about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.abt-img {
    max-width: 500px;
}

.sample-imgs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.sample-img .phones {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-s);
    border: 3px solid var(--text-main);
}

.about-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.checkour {
    color: var(--highlight);
    font-size: 12px;
    margin-bottom: 8px;
}

.about-title, .features-title, .testimonials-title {
    color: var(--text-main);
    font-size: var(--font-size-xl);
    margin-bottom: 18px;
}

.rating {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.star-lists {
    display: flex;
    color: var(--review);
}

.reviews {
    color: rgb(205, 118, 65);
    font-size: 13px;
}

.price-values {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-end;
}

.approved {
    color: var(--highlight);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-b);
}

.Depreciate {
    color: var(--text-strike-price);
    font-weight: var(--font-weight-sb);
    font-size: var(--font-size-l);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.descriptions {
    max-width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.description .des-1 {
    display: flex;
    gap: 15px;
    color: var(--text-main);
    font-size: 13px;
}

.des-1 span {
    font-weight: var(--font-weight-sb);
}

.up-arrow {
    color: var(--highlight);
    font-size: 13px;
}

.description-item {
    margin-bottom: 15px;
}

.description-item::after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(67, 224, 193, 0.2);
    display: block;
    margin: 3px 0;
}

/*drop down list -  detail descriptions */
.detail-description {
    margin-bottom: 30px;
    padding-left: 60px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
}

.detail-description-lists li {
    list-style: disc;
}

.details {
    color: var(--text-secondary);
    font-size: 12px;
    width: 50%;
}

.description-item.active + .detail-description {
    max-height: 350px;
}

.description-item.active .up-arrow i{
    transform: rotate(180deg);
}

.up-arrow i {
    transition: transform 0.5s ease-in;
}

.offers {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.offer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.offer i {
    border: 1px solid var(--highlight);
    padding: 15px;
    border-radius: var(--border-radius-circle);
    font-size: var(--font-size-m);
    color: var(--highlight);
}

.offer p {
    color: var(--text-main);
    font-size: 12px;
    font-weight: var(--font-weight-b);
}

.buy-button {
    width: 100%;
    background: var(--highlight);
    padding: 15px;
    border-radius: var(--border-radius-m);
    border: 1px solid var(--highlight);
    margin: 20px 0;
}

.buy-button:hover {
    background: transparent;
    color: var(--highlight);
}

/* Feature section */

.features-section {
    background: var(--bg_color);
    min-height: 60vh;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 100%;
}

.features-description {
    color: var(--text-secondary);
    font-size: 12px;
    max-width: 40%;
    text-align: center;
    margin-bottom: 30px;
}

.features-cards {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 130px;
    padding: 15px;
    margin: 30px 0;
    background: rgba(200, 200, 200, 0.1);
    border-radius: var(--border-radius-s);
    border-left: 1px solid var(--text-secondary);
    border-right: 1px solid var(--text-secondary);
}

.down-border {
    border-bottom: 1px solid var(--highlight);
}

.up-border {
    border-top: 1px solid var(--highlight);
}

.features-icon{
    color: var(--highlight);
    font-size: var(--font-size-m);
    border: 1px solid var(--highlight);
    padding: 10px;
    border-radius: var(--border-radius-circle);
    margin-bottom: 10px;
}

.features-heading {
    color: var(--highlight);
    font-size: 13px;
    margin-bottom: 10px;
}

.features-text{
    color: var(--text-secondary);
    font-size: 12px;
    text-align: center;
}

/* TESTIMONIALS SECTION */

.testimonials-section{
    background: var(--bg_color);
    min-height: 100vh;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.testimonials-subtitle{
    color: var(--text-secondary);
    font-size: 13px;
} 

.testimonials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 3px solid var(--highlight);
    margin: 30px;
    border-radius: var(--border-radius-m);
    box-shadow: 0 10px 30px rgba(176, 251, 248, 0.2);
    height: 500px;
    max-width: 80%;
}

.chevron{
    background: var(--highlight);
    color: var(--text-main);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    box-shadow: 0 0 3px var(--text-main);
    margin: 5px;
    cursor: pointer;
    border: 1px solid var(--highlight);
    transition: 0.3s;
}

.chevron:hover {
    color: var(--highlight);
    background: transparent;
    transform: scale(1.1); 
}

.left, .right {
    margin: 15px;
}

.testimonials-track{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonials-wrapper{
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
}

.testimonials-contents{
    display: flex;
    gap: 50px;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.testimonials-img {
    width: 220px;
    height: 220px;
    position: relative;
    flex-shrink: 0;
}

.testimonials-img img{
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
    z-index: 3;
}

.back-circle1, .back-circle2 {
    position: absolute;
    background: var(--highlight);
    border-radius: var(--border-radius-circle);
}

.back-circle1 {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1;
}

.back-circle2 {
    width: 160px;
    height: 160px;
    bottom: 10px;
    left: 30px;
    opacity: 0.5;
    z-index: 2;
}

.testimonials-infos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
    max-width: 400px;
    color: var(--text-secondary);
}

.testimonials-text{
    font-size: 14px;
    font-style: italic;
}

.name p:first-child {
    color: var(--highlight);
    margin-bottom: 5px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-b);
    letter-spacing: 2px;
}

.name p:last-child {
    font-size: 12px;
}

.sliders{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.slider{
    width: 30px;
    height: 5px;
    background: var(--text-main);
    border-radius: var(--border-radius-s);
    transition: 0.3s;
}

.slider.active {
    background: var(--highlight);
}

/* responsive for 900px */
@media screen and (max-width:900px) {

    /* hero-section */
    .hero-container {
        flex-direction: column-reverse;
    }

    .blurred-shape {
        display: none;
    }

    .hero-image {
        width: 70%;
        margin: 70px 0 10px;
    }

    .intro-text {
        max-width: 100%;
        align-items: center;
        text-align: center;

    }

    .hero-title,
    .hero-description {
        max-width: 100%;
    }

    /* About/price section */
    .price-container{
        flex-direction: column-reverse;
        gap: 0;
        align-items: center;
    }

    .about-image {
        flex-direction: row;
        gap: 50px;
        max-width: 100%;
    }

    .about-text{
        max-width: 100%;
    }

    /* Features section */

    .features-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        margin: 30px 0;
    }

    .features-card {
        margin: 0;
    }

    /* Testimonial section */
    .testimonials-contents{
        flex-direction: column;
    }

    
}